.product-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.product-card{
    width: 20%;
    padding: 20px;
    margin: 20px;
    border: 1px solid hsl(0, 0%, 76%);
    border-radius: 6px;
    display: flex;
    flex-direction: column;
}

.product-description{
    margin: 20px 0;
}

.product-card .name{
    font-size: 20px;
    color: #2f2e41;
    margin-bottom: 10px;
}

.product-card button{
    width: 100%;
    padding: 7px 10px;
    background: #9f80d0;
    border: 1px solid #9f80d0;
    border-radius: 6px;
    color: #fff;
    font-size: 14px;
    cursor: pointer;
}

.nav{
    display: flex;
    justify-content:space-evenly;
    background-color: #9f80d0;
    color: #fff;
    font-size: 18px;
    padding: 20px 0;
}

.heading{
    font-size: 35px;
    text-align: center;
    padding: 20px 0;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
    color: #fff;
}